@media print {
    header,
    nav,
    #cv-container,
    .logo-container {
        display: none !important;
        visibility: hidden !important;
    }

    body {
        background: white;
        color: black;
    }

    header {
        position: relative;
    }

    .skill-card,
    .edu-card,
    .project-card,
    .experience {
        border: 1px solid #ccc !important;
        box-shadow: none !important;
        break-inside: avoid;
    }


    .progress-track {
        border: 1px solid #ccc !important;
    }

    .progress-fill {
        background: #333 !important;
    }

    #pfp {
        background-image: none !important;
        background-color: white !important;
        height: auto !important;
        padding: 1rem !important;
    }

    #img-container img {
        max-width: 120px !important;
        width: 120px !important;
        height: auto !important;
        border-radius: 10px !important;
        display: block !important;
        margin: 0 auto !important;
    }

    .skill-category svg,
    .project-header a svg,
    .logo-container .logo {
        display: none !important;
        visibility: hidden !important;
        width: 0 !important;
        height: 0 !important;
        opacity: 0 !important;
    }

}